@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

/* Fonts */
.merriweather-font {
    font-family: 'Merriweather', serif;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

/* Common Style */
header,
main {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.common-border-radius {
    border-radius: 16px;
}

.red-color {
    color: #F00;
}

.margin-bottom {
    margin-bottom: 120px;
}

p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Header Section */
header .header-banner {
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../images/new-year-banner.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

header .banner-text-container {
    width: 47.87%;
    max-width: 632px;
    padding: 177px auto;
    text-align: center;
    color: #fff;

}

header .banner-text-container h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

header .banner-text-container h3 {
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* Discount Section */
#discount-section .discount-container {
    margin: 0px auto 120px auto;
    width: 60.75%;
    max-width: 802.9px;
    text-align: center;
}

#discount-section .discount-container h1 {
    font-size: 88px;
    font-weight: 700;
}

#discount-section .discount-category-text-container {
    margin: 48px auto;
}

#discount-section .discount-category-text-container h2 {
    font-size: 24px;
    font-weight: 500;
}

#discount-section .discount-category-text-container h3 {
    font-size: 48px;
    font-weight: 700;

}

#discount-section .discount-category-text-container img {
    width: 100%;
    max-width: 802.9px;
}

/* Welcome Section */
#welcome-section .welcome-banner {
    background-image:
        linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../images/welcome-image.png');
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-size: cover;
    background-position: center;
    gap: 39.17px;
}

#welcome-section .welcome-banner .welcome-banner-text {
    max-width: 697px;
}

#welcome-section .welcome-banner .welcome-banner-text h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

#welcome-section .welcome-banner .welcome-banner-text button {
    margin-top: 48px;
    margin-left: 32px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#welcome-section .welcome-banner img {
    width: 100%;

}


/* Schedule Section */
#schedule-section .schedule-container {
    width: 100%;
    max-width: 1320px;
    height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#schedule-section .schedule-container .schedule-inner-container {
    align-items: center;

}

#schedule-section .schedule-container .schedule-inner-container h3 {
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    line-height: 56px;
    text-transform: capitalize;
}

#schedule-section .schedule-container .schedule-inner-container button {
    margin-top: 48px;
    background: #F00;
    border-radius: 8px;
    padding: 16px 32px;
    color: #FFF;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}


/* Best Offer Section */
#new-best-offer-section {
    width: 100%;
    max-width: 1320px;
    height: 463px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-best-offer-section p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#new-best-offer-section .new-best-offer-left-side-text-container {
    width: 30.30%;
    max-width: 400px;
}

#new-best-offer-section .new-best-offer-left-side-text-container h2 {
    font-size: 24px;
    font-weight: 500;
}

#new-best-offer-section .new-best-offer-left-side-text-container h3 {
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    color: #070211;
    margin-bottom: 22px;
}

#new-best-offer-section .new-best-offer-image-container {
    border-radius: 463px;
    height: 433px;
    width: 433px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 15px solid #F00;
}

#new-best-offer-section .new-best-offer-image-container img {
    text-align: center;
    height: 383.92px;
    width: 383.92px;
}

#new-best-offer-section .new-best-offer-right-side-text-container {
    width: 20.90%;
    max-width: 276px;
}

#new-new-best-offer-section .new-best-offer-right-side-text-container h2 {
    font-size: 48px;
    font-weight: 700;
}

#new-best-offer-section .new-best-offer-right-side-text-container img {
    width: 140px;
    height: 140px;
    margin-top: 43px;

}

/* Our awesome portfolio section */
#awesome-portfolio-section {
    width: 100%;
    max-width: 1320px;
}

#awesome-portfolio-section .awesome-portfolio-text-container {
    width: 67.87%;
    max-width: 896px;
    margin-bottom: 48px;
}

#awesome-portfolio-section h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#awesome-portfolio-section h3 {
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    color: #070211;
    margin-bottom: 22px;
}

#awesome-portfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

#awesome-portfolio-section .awesome-portfolio-grid-container .row-bottom-margin {
    margin-bottom: 24px;
}

#awesome-portfolio-section .awesome-portfolio-grid-container .awesome-portfolio-grid-container-row {
    display: flex;
    gap: 24px;
    width: 100%;
}

#awesome-portfolio-section .awesome-portfolio-grid-container .row-item-container {
    height: 450px;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

#awesome-portfolio-section .awesome-portfolio-grid-container .row-item-container:hover {
    transform: scale(1.05);
}

#awesome-portfolio-section .awesome-portfolio-grid-container img {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

/* Subscribe Newsletter Section */
#subscribe-newsletter-section {
    width: 100%;
    max-width: 1320px;
    height: 616px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    display: flex;
    align-items: center;
}

#subscribe-newsletter-section .subscribe-newsletter-container {
    width: 67.87%;
    max-width: 896px;
    height: 456px;
    margin: 80px auto;
    text-align: center;
}

#subscribe-newsletter-section .subscribe-newsletter-container img {
    height: 150px;
    width: 150px;
    margin-bottom: 40px;
}

#subscribe-newsletter-section .subscribe-newsletter-container h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

#subscribe-newsletter-section .subscribe-newsletter-container p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

#subscribe-newsletter-section .subscribe-container input[type='email'] {
    /* color: rgba(7, 2, 17, 0.30); */
    outline: none;
    border: none;
    height: 72px;
    width: 438px;
    border-radius: 50px 0 0 50px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 400;
}

#subscribe-newsletter-section .subscribe-container input[type='submit'] {
    position: relative;
    left: -5px;
    background: #f00;
    color: #fff;
    outline: none;
    border: none;
    height: 72px;
    width: 210px;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}


/* Footer Section */
footer {
    width: 100%;
    height: 609px;
    background: #070211;
    display: flex;
    align-items: center;
}


footer .footer-container {
    width: 82.5%;
    max-width: 1320px;
    height: 489px;
    margin: 120px auto;
}

footer h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

footer .text-line-height {
    line-height: 40px;
}

footer .footer-flex-container {
    display: flex;
    justify-content: space-between;
}

footer .footer-header-container {
    margin-bottom: 50px;
}

footer .location-container {
    width: 375px;
}

footer .contact-flex-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer .contact-flex-container img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

footer hr {
    border: rgba(255, 255, 255, 0.15) solid 1px;
}

footer .footer-social-links-container {
    margin: 48px auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

footer .footer-social-links-container img {
    height: 64px;
    width: 64px;
    cursor: pointer;
}

footer .footer-bottom-container {
    margin-top: 50px;
}

footer .footer-container .footer-bottom-container .unsubscribe-text {
    cursor: pointer;
}